language: haskell
before_install:  cabal install monadloc-pp
deploy:
  provider: heroku
  strategy: git
  buildpack: https://github.com/agocorona/heroku-buildpack-haskell.git
  api_key: "f0a47850-7f86-4f59-872d-8c9c85153d71"
  app: mflowtravis
